.button {
  width: auto;
}

.button-circle {
  width: 100%;
  transition: 0.3s;
  &:hover {
    fill: black;
    ~ .button-arrow {
      stroke: white;
    }
  }
}

.button-color-change{
  stroke: white;
  fill: black;
  ~ .button-arrow {
    stroke: white;
  }
  &:hover {
    fill: white;
    ~ .button-arrow {
      stroke: black;
    }
  }
}

.button-arrow {
  transition: 0.3s;
}

.button-name {
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  margin-bottom: 8%;
  color: black;
}

.button-name-color-change{
  color: white;
}

.rubrik-new {
  font-family: rubrik-new, sans-serif;
  font-weight: 400;
  font-style: normal;
}
