.yu-gothic {
  font-family: yu-gothic-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rubrik-new {
  font-family: rubrik-new, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  font-size: 1vw;
  width: 100vw;
  position: fixed;
}

.logo {
  height: 60vh;
  top: 7vh;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  display: block;
}

.title {
  position: absolute;
  display: block;
  top: 68vh;
  height: 8vh;
  left: 50%;
  transform: translate(-50%, 0);
}

.credit {
  text-align: center;
  font-size: 0.5em;
  margin: 90vh auto 0 50vw;
  transform: translate(-50%, 0);
  letter-spacing: 0.5em;
  text-indent: 0.5em;
  white-space: nowrap;
}

.seminar-name {
  position: absolute;
  font-size: 0.8em;
  line-height: 1em;
  letter-spacing: 0.4em;
  text-indent: 0.4em;
  bottom: 7em;
  left: 5em;
}

.button {
  position: absolute;
  right: 8em;
  bottom: 4em;
  width: 5.93em;
}

.header-content {
  opacity: 1;
}

.header-logo {
  transition: 1s;
  height: 3em;
  top: 5em;
  left: 4em;
  transform: translate(0, 0);
}

.header-title {
  transition: 1s;
  height: 2em;
  top: 5.5em;
  left:7.5em;
  transform: translate(0, 0);
}

.non-credit {
  animation: show 1s linear 0s;
  animation-fill-mode: forwards;
}

.non-seminar-name {
  animation: show 1s linear 0s;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    opacity: 1;
    display: inline;
  }
  99% {
    opacity: 0;
    display: inline;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
